/* Google font */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* Custom properties */
:root{
  --primary-color: rgb(102, 207, 102);
  --white-color: #fff;
}

/* override default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile design 720px or less*/
@media (max-width: 720px){
  /* Header */
  .header {
    background-color: rgb(57, 57, 248);
    color: var(--white-color);
    width: 100vw;
    padding: .25rem;
    position: fixed;
    top: 0;
  }
  .header h1 {
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Acme', sans-serif;
  }

  /* Main */
  

  /* score-board */
  .content .score-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: .5rem;
    margin: 6.5rem .8rem 0 .8rem;
  }

  .score-board .player, .computer {
    background-color: var(--primary-color);
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
  }

  .score-board aside {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .score-board aside i {
    font-size: 5rem;
    color: var(--white-color);
  }
}

/* Mobile design 376px or less */
@media (max-width: 376px){
  .score-board .player, .computer {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .score-board aside i {
    font-size: 2.5rem;
    color: var(--white-color);
  }
}