/* Google font */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* Custom properties */
:root{
  --primary-color: rgb(102, 207, 102);
  --white-color: #fff;
  --secondary-color:  rgb(57, 57, 248);
}

/* override default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* Header */
  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: auto; */
    background-color: var(--secondary-color);
    color: var(--white-color);
    width: 100vw;
    padding: .25rem;
    position: fixed;
    top: 0;
  }
  .header h1 {
    grid-column: 1 / 5;
    font-size: 2.3rem;
    font-family: 'Acme', sans-serif;
  }

  header ul {
    grid-column: 5 / -1;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 1.5rem;
  }

  header footer ul li {
    justify-self: end;
    list-style: none;
    margin-top: .5rem;
  }

  header footer ul li a {
    display: grid;
    text-decoration: none; 
  }

  header footer ul li a i {
    font-size: 2rem;
    color: var(--white-color);
  }

  /* MAIN */
  /* score-board */
  .content .score-board {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: .5rem;
    margin: 6.5rem auto;
  }

  .score-board .player {
    grid-column: 2 / 3;
  }

  .score-board .computer {
    grid-column: 5 / 6;
  }

  .score-board .player, .computer {
    display: grid;
    background-color: var(--primary-color);
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
  }

  .score-board aside {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .score-board aside i {
    font-size: 5rem;
    color: var(--white-color);
    justify-self: center;
    align-self: center;
  }

  .score-board aside span {
    display: none;
    background-color: var(--secondary-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--white-color);
    font-family: 'Acme', sans-serif;
    text-align: center;
  }

  .score-board aside [data-player] {
    position: relative;
    top: -8rem;
    right: -2rem;
    z-index: 1;
    font-size: 1.8rem;
  }

  .score-board aside [data-computer]{
    position: relative;
    top: -7.5rem;
    right: -5.7rem;
    z-index: 1;
    font-size: 1.8rem;
  }

  /* Choices */
  .content .choices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    margin-top: 2rem;
  }

  .content .choices .choice {
    justify-self: center;
    align-self: center;
    font-size: 4.5rem;
  }

  .content .choices .choice:hover {
    cursor: pointer;
    color: var(--secondary-color);
  }

  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;  
  }

  .modal .modal-content {
    background-color: var(--white-color);
    max-width: 15rem;
    margin: 10rem auto;
    padding: 1.5rem;
    border-radius: .5rem;
    text-align: center;
  }

  .modal .modal-content h1, p {
    font-family: 'Acme', sans-serif;
  }

  .modal .modal-content i {
    margin-top: 1rem;
    font-size: 3.5rem;
  }

  .button-style {
    border: none;
    padding: .5rem;
    margin-top: .5rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: .3rem;
  }

  .button-style:hover {
    cursor: pointer;
  }

  /* reduce header font size on mobile devices */
  @media (max-width: 468px){
    .header h1 {
      margin-top: .5rem;
      font-size: 1.2rem;
    }
  }

/* Mobile design 376px or less */
@media (max-width: 376px){
  .score-board .player, .computer {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .score-board aside i {
    font-size: 2.5rem;
    color: var(--white-color);
  }

  .score-board aside [data-player] {
    position: relative;
    top: -5rem;
    right: -2rem;
    z-index: 1;
    font-size: 1.5rem;
  }

  .score-board aside [data-computer] {
    position: relative;
    top: -5.2rem;
    right: -2rem;
    z-index: 1;
    font-size: 1.5rem;
  }

  .score-board aside span {
    background-color: var(--secondary-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--white-color);
    text-align: center;
  }
}
